Repository nat-bishop/cosmos-houdini-pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-hardcoded-secrets

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-docstring-first
      - id: debug-statements
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: name-tests-test
        args: ['--pytest-test-first']
      - id: requirements-txt-fixer
      - id: fix-byte-order-marker
      - id: detect-private-key
      - id: check-ast

  # Ruff - Fast Python linter and formatter (replaces black, isort, flake8, etc.)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format

  # MyPy - Static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml]
        additional_dependencies:
          - types-paramiko
          - types-toml
          - types-pyyaml
        exclude: ^tests/

  # Bandit - Security linting
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        exclude: ^tests/

  # Safety - Check for known security vulnerabilities
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.3
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Validate pyproject.toml
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  # Check for outdated Python syntax
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  # Spell checking (optional, can be noisy)
  # - repo: https://github.com/codespell-project/codespell
  #   rev: v2.3.0
  #   hooks:
  #     - id: codespell
  #       args: [--ignore-words-list=crate,nd,strack,datas,ags]
  #       exclude: >
  #         (?x)^(
  #           .*\.json|
  #           .*\.md|
  #           .*\.toml|
  #           .*\.lock
  #         )$

  # Local hooks
  - repo: local
    hooks:
      # Check for print statements (except in CLI)
      - id: no-print-statements
        name: Check for print statements
        entry: '(?<!#.*)print\('
        language: pygrep
        types: [python]
        exclude: ^(cosmos_workflow/cli\.py|tests/|scripts/)

      # Ensure no hardcoded secrets
      - id: no-hardcoded-secrets
        name: Check for hardcoded secrets
        entry: "(password|secret|token|api_key)\\s*=\\s*[\"'][^\"']+[\"']"
        language: pygrep
        types: [python]
        exclude: ^tests/

      # Run tests (disabled by default for speed, uncomment to enable)
      # - id: pytest-unit
      #   name: pytest unit tests
      #   entry: pytest tests/ -m unit --tb=short -q
      #   language: system
      #   pass_filenames: false
      #   always_run: false
      #   stages: [push]

ci:
  autofix_prs: true
  autofix_commit_msg: '[pre-commit.ci] auto fixes from hooks'
  autoupdate_schedule: monthly
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  skip: [python-safety-dependencies-check]  # May have false positives in CI

chore: update .gitignore and remove temporary files
  .coverage
  .gitignore
  fix_all_linting.py
  lint.py
Due: no-print-statements, no-hardcoded-secrets

docs: add updated API reference documentation
  REFERENCE.md
Due: none

feat: improve CLAUDE.md with comprehensive memory structure
  CLAUDE.md
Due: none

test: Major test suite refactoring to behavior-driven testing
  .claude/settings.local.json
  cosmos_workflow/cli.py
  cosmos_workflow/workflows/upsample_integration.py
  docs/PROMPT_UPSAMPLING_INSIGHTS.md
  inputs/prompts/2025-08-31/golden_hour_test_2025-08-31T08-59-44_ps_c5d5c2ba0f0f.json
  inputs/prompts/2025-08-31/underwater_scene_coral_2025-08-31T02-26-57_ps_eac7f922f860.json
  inputs/prompts/2025-08-31/underwater_scene_coral_2025-08-31T02-38-26_ps_eac7f922f860.json
  inputs/prompts/2025-08-31/underwater_scene_coral_2025-08-31T02-53-33_ps_eac7f922f860.json
  inputs/test_upsample_batch.json
  scripts/deploy_and_test_upsampler.py
  scripts/force_spawn_upsampler.py
  scripts/nvidia_style_upsampler.py
  scripts/quick_test_upsampler.py
  scripts/run_remote_upsampler.py
  scripts/run_upsampler_docker.sh
  scripts/simple_prompt_upsampler.py
  scripts/standalone_upsampler.py
  scripts/test_nvidia_upsampler.py
  scripts/test_standalone_upsampler.py
  scripts/test_upsampler_local.py
  scripts/working_prompt_upsampler.py
  test.json
  testing/create_test_prompts.py
  testing/create_test_videos.py
  testing/run_upsample_tests.py
  testing/upsample_test_plan.md
  tests/MERGE_STRATEGY.md
  tests/MUTATION_TESTING_GUIDE.md
  tests/README.md
  tests/TEST_IMPROVEMENT_TASKS.md
  tests/TEST_METRICS_COMPARISON.md
  tests/contracts/test_fake_contracts.py
  tests/fixtures/fakes.py
  tests/integration/test_sftp_workflow.py
  tests/integration/test_video_pipeline.py
  tests/integration/test_workflow_orchestration.py
  tests/integration/test_workflow_orchestration_refactored.py
  tests/unit/execution/test_docker_executor.py
  tests/unit/execution/test_docker_executor_refactored.py
Due: no-print-statements, no-hardcoded-secrets

Add mutation testing for Windows and analysis
  requirements.txt
  tests/MUTATION_TEST_RESULTS.md
  tests/mutation_test_windows.py
Due: none

Add critical testing strategy analysis and correction plan
  tests/TESTING_STRATEGY_ANALYSIS.md
  tests/TEST_FIXING_ACTION_PLAN.md
Due: none

Remove mutation testing and clarify testing strategy
  .claude/settings.local.json
  cosmos_workflow/cli.py
  cosmos_workflow/workflows/upsample_integration.py
  docs/PROMPT_UPSAMPLING_INSIGHTS.md
  inputs/prompts/2025-08-31/golden_hour_test_2025-08-31T08-59-44_ps_c5d5c2ba0f0f.json
  inputs/prompts/2025-08-31/underwater_scene_coral_2025-08-31T02-26-57_ps_eac7f922f860.json
  inputs/prompts/2025-08-31/underwater_scene_coral_2025-08-31T02-38-26_ps_eac7f922f860.json
  inputs/prompts/2025-08-31/underwater_scene_coral_2025-08-31T02-53-33_ps_eac7f922f860.json
  inputs/test_upsample_batch.json
  requirements.txt
  scripts/batch_token_test.py
  scripts/debug_upsampler.py
  scripts/deploy_and_test_upsampler.py
  scripts/fast_token_test.py
  scripts/force_spawn_upsampler.py
  scripts/nvidia_style_upsampler.py
  scripts/quick_test_upsampler.py
  scripts/quick_token_check.py
  scripts/run_remote_upsampler.py
  scripts/run_upsampler_docker.sh
  scripts/simple_batch_test.py
  scripts/simple_prompt_upsampler.py
  scripts/simple_token_tests.py
  scripts/standalone_upsampler.py
  scripts/test_nvidia_upsampler.py
  scripts/test_standalone_upsampler.py
  scripts/test_token_limits.py
  scripts/test_upsampler_local.py
  scripts/test_with_small_video.py
  scripts/working_prompt_upsampler.py
  test.json
  testing/create_test_prompts.py
  testing/create_test_videos.py
  testing/run_upsample_tests.py
  testing/upsample_test_plan.md
  tests/MUTATION_TESTING_GUIDE.md
  tests/MUTATION_TEST_RESULTS.md
  tests/SIMPLE_TESTING_EXPLANATION.md
  tests/integration/test_workflow_orchestration_CORRECT.py
  tests/mutation_test_windows.py
Due: no-print-statements, no-hardcoded-secrets

Revert test refactoring - tests now verify real code again
  .claude/settings.local.json
  REVERT_PLAN.md
  docs/TOKEN_LIMIT_FINDINGS.md
  docs/UPSAMPLING_INVESTIGATION_SUMMARY.md
  docs/UPSAMPLING_MYSTERY.md
  scripts/direct_test.py
  tests/BEHAVIOR_TESTING_GUIDE.md
  tests/FAKES_VS_MOCKS_CLARIFICATION.md
  tests/FINAL_TEST_IMPROVEMENTS_SUMMARY.md
  tests/FIX_OR_REVERT_DECISION.md
  tests/IMPROVEMENT_METRICS_COMPARISON.md
  tests/MIGRATION_ACTION_PLAN.md
  tests/REVERT_SUMMARY.md
  tests/TEST_IMPROVEMENT_LOG.md
  tests/TEST_IMPROVEMENT_TASKS.md
  tests/TEST_METRICS_COMPARISON.md
  tests/integration/test_sftp_workflow.py
  tests/integration/test_workflow_orchestration.py
  tests/test_improvements_checklist.md
  tests/unit/execution/test_docker_executor.py
Due: no-hardcoded-secrets

Fix tests to use real implementations instead of fakes
  tests/TEST_FIXES_SUMMARY.md
  tests/integration/test_workflow_orchestration.py
  tests/performance/test_gpu_and_perf.py
Due: none

Add TODO for tomorrow's test fixes - schema mismatches need updating
  .claude/settings.local.json
  TODO_TOMORROW_TEST_FIXES.md
Due: none

feat: add prompt upsampling resolution investigation and test framework
  .claude/settings.local.json
  docs/UPSAMPLING_RESOLUTION_INVESTIGATION.md
  scripts/test_upsampling_resolution_limits.py
Due: no-hardcoded-secrets

feat: comprehensive test suite overhaul - Phases 1-3 complete
  .claude/settings.local.json
  PHASE2_MOCK_REDUCTION_SUMMARY.md
  PHASE3_COVERAGE_IMPROVEMENT_SUMMARY.md
  TEST_FIX_COMPREHENSIVE_PLAN.md
  TEST_IMPROVEMENT_ANALYSIS.md
  cosmos_workflow/config/config.toml
  docs/BATCH_UPSAMPLING_INTEGRATION_PLAN.md
  docs/SCRIPT_CLEANUP_PLAN.md
  docs/UPSAMPLING_RESOLUTION_INVESTIGATION.md
  resolution_test_log.txt
  resolution_test_results/results_partial_1756672968.json
  scripts/check_remote_results.py
  scripts/deploy_resolution_test.py
  scripts/persistent_upsampler_test.py
  scripts/remote_resolution_test.py
  scripts/test_actual_resolution_limits.py
  scripts/test_token_limit_config.py
  tests/conftest.py
  tests/contracts/__init__.py
  tests/contracts/test_fake_contracts.py
  tests/contracts/test_ssh_contract.py
  tests/integration/test_sftp_workflow.py
  tests/integration/test_workflow_orchestration.py
  tests/integration/test_workflow_orchestration_CORRECT.py
  tests/integration/test_workflow_orchestration_refactored.py
  tests/integration/test_workflow_orchestration_simple.py
  tests/performance/test_gpu_and_perf.py
  tests/test_doubles.py
  tests/unit/execution/test_docker_executor.py
  tests/unit/prompts/test_prompt_manager.py
  tests/unit/utils/test_smart_naming.py
Due: no-hardcoded-secrets

fix: get all unit tests to green status
  cosmos_workflow/workflows/resolution_tester.py
  cosmos_workflow/workflows/upsample_integration.py
  docs/UPSAMPLING_INTEGRATION_SUMMARY.md
  docs/UPSAMPLING_TODO.md
  inputs/prompts/2025-08-31/underwater_scene_coral_2025-08-31T14-06-30_ps_eac7f922f860.json
  scripts/batch_token_test.py
  scripts/debug_upsampler.py
  scripts/deploy_resolution_test.py
  scripts/direct_test.py
  scripts/fast_token_test.py
  scripts/force_spawn_upsampler.py
  scripts/nvidia_style_upsampler.py
  scripts/persistent_upsampler_test.py
  scripts/quick_test_upsampler.py
  scripts/quick_token_check.py
  scripts/remote_resolution_test.py
  scripts/run_remote_upsampler.py
  scripts/simple_batch_test.py
  scripts/simple_prompt_upsampler.py
  scripts/simple_token_tests.py
  scripts/standalone_upsampler.py
  scripts/test_nvidia_upsampler.py
  scripts/test_standalone_upsampler.py
  scripts/test_token_limit_config.py
  scripts/test_token_limits.py
  scripts/test_upsampler_local.py
  scripts/test_upsampling_resolution_limits.py
  scripts/test_with_small_video.py
  scripts/upsample_prompts.py
  test.json
  tests/integration/test_workflow_orchestration_CORRECT.py
  tests/properties/test_invariants.py
  tests/unit/execution/test_docker_executor.py
  tests/unit/prompts/test_prompt_manager.py
  tests/unit/utils/test_smart_naming.py
Due: no-print-statements, no-hardcoded-secrets

feat: add comprehensive workflow orchestrator tests achieving 93.79% coverage
  docs/GREEN_BASELINE_ACHIEVED.md
  docs/WORKFLOW_ORCHESTRATOR_TEST_PLAN.md
  tests/unit/workflows/__init__.py
  tests/unit/workflows/test_workflow_orchestrator.py
Due: none

refactor: clarify that 'legacy' methods are actually convenience methods
  cosmos_workflow/workflows/upsample_integration.py
  cosmos_workflow/workflows/workflow_orchestrator.py
  docs/WORKFLOW_ORCHESTRATOR_TEST_PLAN.md
  tests/unit/workflows/test_workflow_orchestrator.py
Due: no-print-statements, no-hardcoded-secrets

docs: update documentation to reflect test suite improvements
  CHANGELOG.md
  README.md
Due: none

docs: create comprehensive merge strategy plan for parallel-development branch
  docs/MERGE_STRATEGY_PLAN.md
Due: none

docs: add parallel branch summary and prepare for merge
  docs/PARALLEL_BRANCH_SUMMARY.md
  docs/SESSION_SUMMARY_2025_08_31.md
  test_batch_prompts.json
Due: none

docs: add testing results and benchmarks from upsampling tests
  CHANGELOG.md
  README.md
  TODO.md
  docs/README.md
  docs/TESTING_RESULTS.md
  test_batch_safe.json
Due: none

feat: fix SSH encoding and document resolution testing
  cosmos_workflow/connection/ssh_manager.py
  docs/SESSION_SUMMARY_2025_09_01.md
  docs/TESTING_RESULTS.md
  resolution_boundary_results.json
Due: no-print-statements, no-hardcoded-secrets

feat: add comprehensive resolution testing framework and document findings
  CHANGELOG.md
  docs/RESOLUTION_LIMITS_FINAL.md
  docs/TESTING_RESULTS.md
  quick_resolution_test.py
  resolution_boundary_results.json
  simple_boundary_test.py
  test_resolution_boundary.py
Due: no-print-statements, no-hardcoded-secrets

fix: critical exception handling bugs and code quality issues
  cosmos_workflow/cli.py
  cosmos_workflow/connection/ssh_manager.py
  cosmos_workflow/local_ai/cosmos_sequence.py
  cosmos_workflow/local_ai/video_metadata.py
  cosmos_workflow/transfer/file_transfer.py
  docs/CODE_QUALITY_REPORT.md
Due: no-print-statements, no-hardcoded-secrets

refactor: Complete CLI overhaul with Click framework
  CHANGELOG.md
  CLAUDE.md
  CLEANUP_PLAN.md
  README.md
  cosmos
  cosmos.bat
  cosmos_workflow/__main__.py
  cosmos_workflow/cli.py
  cosmos_workflow/cli_old.py
  pyproject.toml
Due: no-print-statements, no-hardcoded-secrets

refactor: major codebase cleanup and documentation improvements
  CHANGELOG.md
  CLAUDE.md
  CLEANUP_PLAN.md
  quick_resolution_test.py
  resolution_boundary_results.json
  resolution_test_log.txt
  resolution_test_results/results_partial_1756672968.json
  scripts/check_remote_results.py
  scripts/deploy_and_test_upsampler.py
  scripts/run_upsampler_docker.sh
  scripts/ssh_lambda.sh
  scripts/test_actual_resolution_limits.py
  scripts/upsample_prompt.sh
  simple_boundary_test.py
  test_batch_prompts.json
  test_batch_safe.json
  test_images/color.0001.png
  test_resolution_boundary.py
  test_resolution_limits.py
  testing/create_test_prompts.py
  testing/create_test_videos.py
  testing/run_upsample_tests.py
  tests/integration/test_upsample_workflow.py
  tests/unit/cli/__init__.py
  tests/unit/cli/test_cli.py
  tests/unit/cli/test_cli_convert_sequence.py
Due: no-print-statements, no-hardcoded-secrets

feat: improve CLI autocomplete and remove redundant commands
  .claude/settings.local.json
  cosmos_workflow/cli.py
  setup_completion.py
Due: no-print-statements, no-hardcoded-secrets

refactor: merge run/inference/upscale into single inference command
  cosmos_workflow/cli.py
Due: no-hardcoded-secrets

refactor: remove num-gpu and cuda-devices parameters from all commands
  .claude/settings.local.json
  README.md
  cosmos_workflow/cli.py
  cosmos_workflow/config/config.toml
  scripts/ssh_lambda.sh
  setup_completion.py
Due: no-print-statements, no-hardcoded-secrets

fix: critical exception handling bugs and code quality issues
  cosmos_workflow/cli.py
  cosmos_workflow/workflows/upsample_integration.py
Due: no-print-statements, no-hardcoded-secrets

refactor: Complete CLI overhaul with Click framework
  .claude/settings.local.json
  cosmos_workflow/cli.py
  cosmos_workflow/cli_old.py
Due: no-print-statements, no-hardcoded-secrets

docs: update documentation for CLI improvements
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

test: add comprehensive CLI test suite with CliRunner
  tests/test_cli.py
Due: none

feat: add --dry-run option to all modifying CLI commands
  cosmos_workflow/cli.py
  tests/test_cli.py
Due: no-hardcoded-secrets

docs: update documentation for CLI improvements
  CLI_TEST_PROGRESS.md
  TODO.md
Due: none

refactor: CLI Phase 1 - Create modular architecture foundation
  .claude/settings.local.json
  CHANGELOG.md
  TODO.md
  cosmos
  cosmos_workflow/cli_new/__init__.py
  cosmos_workflow/cli_new/base.py
  cosmos_workflow/cli_new/completions.py
  cosmos_workflow/cli_new/helpers.py
  inputs/prompts/2025-09-01/city_flying_futuristic_2025-09-01T17-15-41_ps_cd1dc761d9dc.json
  screen.tar.lzma
  screen.tar.xz
  screen.tar.zst
Due: no-print-statements, no-hardcoded-secrets

refactor: Complete CLI modularization (Phases 2 & 3)
  CHANGELOG.md
  CLAUDE.md
  cosmos_workflow/cli_new/__init__.py
  cosmos_workflow/cli_new/create.py
  cosmos_workflow/cli_new/enhance.py
  cosmos_workflow/cli_new/inference.py
  cosmos_workflow/cli_new/prepare.py
  cosmos_workflow/cli_new/status.py
Due: no-print-statements, no-hardcoded-secrets

docs: critical discovery - CLI refactoring already exists in cli_new
  CLI_TEST_PROGRESS.md
  TODO.md
Due: none

docs: add directory structure reorganization task to TODO
  TODO.md
Due: none
